h1{
margin: auto;
height: 90px;
width: 300px;
border:  4px solid  blue; 
text-align: center;
color: purple;
font-family: 'Barrio', cursive;

}
html{
  background-color:#48cae4
}
a{
color: blue;
font-family: 'Barrio', cursive;
}

.art{
  margin: auto
  }
a{
color: darkblue
}

